@{
    ViewBag.Title = "Home Page";
}

<div id="cradleDiv" class="body-container col-lg-12">
    <div id="cradleLogo" class="col-sm-offset-6">
        <h1>Cradle</h1>
        <div id="cradleTaglineDiv">
            <div id="taglineDiv" class="col-sm-6">
                @Resources.Resource.tagline
            </div>
            <div id="logoDiv" class="col-sm-2">
                <img src="../../img/science87.png" />
            </div>
        </div>
    </div>
    <div id="searchBox" class="col-sm-offset-6">
        @Html.Partial("_SearchBoxPartial")
    </div>
</div>
