@font-face {
    font-family: caviar_dreams;
    src: url(../fonts/Caviar_Dreams_Bold.ttf);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
body
{
    font-family: caviar_dreams;
}

.content-wrapper{
    margin-top: 90px;
}

h1{
  font-family: caviar_dreams;
  font-size: 8em;
}

.center{
    text-align: center;
}

#cradleDiv
{
    background: url('../img/216H.jpg') no-repeat;
    background-size: cover;
    color: #001D34;
    overflow: auto;
}

#cradleLogo
{
    padding-top: 52px;
    padding-left: 50px;
}

#taglineDiv
{
    font-size: 2em;
    padding-left: 80px;
}

#logoDiv
{
    margin-left: -44px;
    margin-top: -20px;
}

.jumbotron h1{
  font-size: 85px;
}

.subtext{
  padding-top: 20px;
}



.body-container{
    height: 567px;
    overflow: scroll;
}

/*.body-container > div, .body-container > div > form
{
    height: 100%;
}*/

.content-container{
    border: 2px solid #dddddd;
    background-color: transparent;
    border-radius: 4px;
}

#header, footer {
background-color: #001D34;
    color: white;
    text-transform: uppercase;
}

#header{
    /*margin-top: -30px;*/
    margin-top: 50px;
}

#header .menu-items{
    padding-left: 80px;
}
#header .menu-items li{
    padding: 0px 10px 0px 10px;
    margin:  0px -10px 0px 0px;
    font-size: 14px; 
}
#header .menu-items li a{
    background-color: transparent;
    color: white;
}
#header .menu-items li a:hover{
    color: #82C0F0;
}
#header .menu-items li a:focus{
    color: white;
}

#navHeader {
    z-index: 1050;
}

footer div{
    height: 50px;
}

footer span{
  margin: 10px;
}

#links{
    padding-top: 5px;
}

#links span a
{
    color: white;
    
}

#links span a:hover
{
    color: #82C0F0;
    text-decoration: none;
}

/*SearchBoxPartial Styles*/

#searchBox{
    height: 195px;
    /*padding-top: 50px;*/
    padding-top: 15px;
    width: 560px;
}

#searchBoxForm{
    margin-top: 30px;
}

#searchBoxForm > div{
    padding-left: 5px;
    padding-right: 5px;
}

#searchBox .nav-tabs
{
    padding-left: 17px;
}
#searchBox .nav-tabs > li
{
    background-color: #ffffff;
    color: #001D34;
    border-radius: 4px 4px 0 0;
    margin-right: 2px;
}

#searchBox .nav-tabs > li > a
{
    color:#001D34;
    margin-right: 0px;
}


#searchBox .nav-tabs > li > a:hover, #searchBox .nav-tabs > li > a:focus,
#searchBox .nav-tabs > li.active a, #searchBtn-searchBox{
    background-color: #001D34;
    border-color: #001D34;
    font-weight:bold;
    color: white;
}

.nav-tabs > li.active > a:hover, #profileMenu{
    cursor: pointer;
}

#searchBtn-searchBox:hover{
    background-color: #ffffff;
    border-color:#dddddd;
    color:#555555;
}

#budgetStyleDiv > div, #budgetStyleDiv > select, #exploreDiv > input,
#customMadeDiv > select
{
    margin-bottom: 10px;
}

#customMadeDiv > select{
    margin-left: 15px;
}

select {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 34px;
}

.introMessage{
    margin-bottom: 15px;
    text-align: center;
}

/*End SearchBoxPartial Styles*/

#socialMediaDiv{
    margin-top: 70px;
}

#socialLoginDiv > button
{
    margin-top: 10px;
}

/*Profile Page styles */
.progress
{
    height: 25px;
    margin-bottom: 5px;
}
.progress-bar
{
    font-size: 16px;
}
.alert
{
    margin-bottom: 5px;
}
.profileCompleteMsg
{
    font-size: 14px;
}

.profileHeader
{
    height: 200px;
}

#profileHeading
{

    background-color: #2A2628;
    color: #CDD1D6;
}

#nameHeading
{
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #35AFCB;
}

#taglineHeading
{
    color: #9FA2A8;
}

#madeTypeHeading
{
    margin-top: 15px;
    margin-bottom: 0px;
}

.contactDetailsHeading
{
    margin-top: 5px;
    margin-bottom: 0px;
}

.contactDetailsHeading, #madeTypeHeading
{
    letter-spacing: 1px;
}

#profDetails
{
    margin-bottom: 10px;
    margin-top: 10px;
}

#profStats
{
    background-color: black;
    height: 50px;
    padding-top: 5px;
}

#profStats a
{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    border-radius: 0;
    border-right: 1px solid;
}

#profStats a#lastStat
{
    border: none;
}

#addCollectionOption, #editProfileOption
{
    float: right;
}

#addCollectionOption a, #editProfileOption a
{
    border-right: none;
}*


#profStats a:hover, #profStats a:focus
{
    color: #82C0F0;
}

#profStats .nav > li > a:hover, .nav > li > a:focus
{
    background-color: black;
}

#star
{
    color: yellow;
}

#heart
{
    color: #E3006F;
}

#cart
{
    color: #3BA3D0;
}

#eye
{
    color: #96F36E;
}

#collectionInfo
{
    color: #024A68;
}

/*this is a temporary placeholder*/
/*#profilePictureDiv 
{
    background: url('../img/no-image.gif') no-repeat;
}*/
#profilePictureImg
{
    height: 200px;
    width: 156px;
    padding: 0px;
}

#aboutDesignerDiv 
{
    padding-left: 0px;
    padding-top: 5px;
}

.aboutDesignerDivContent
{
    margin-top: 15px;
    text-align: justify;
    padding-left: 0px;
}

.aboutLabel
{
    text-transform: uppercase;
}

.editLabel, .editLabel a
{
    color: #C0C0C0;
    cursor: pointer;
    text-transform: none;
}

.editLabel:hover, .editLabel label:hover, .editLabel a:hover
{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

/* Edit Profile Styles */

#profileNav
{
    height: 567px;
}

#profileNav a
{
    border-radius: 0;
    text-align: center;
}

#profileNav a:active, #profileNav a:hover
{
    color: #ffffff;
    background-color: #428bca;
    
}

#profileNav .nav-pills > li.active > a, 
#profileNav .nav-pills > li.active > a:focus
{
    background-color: #2A2628;
}

.profile-div{
    padding: 10px 0px;
}

#profilePicInput
{
    margin-top: 30px;
    padding-left: 10px;
}

#helpUpload
{
    display: inline;
    padding-left: 10px;
}

#profilePicLabel
{
    padding-left: 10px;
}

.profile-contents {
    margin-top: 35px;
    padding-bottom: 35px;
}

/*Designer List page styles*/
.designer-snapshot{
    margin: 50px 0px;
}

#profilePictureHeadshot
{
    height: 150px;
    width: 150px;
}

#designerInfo h3{
    margin: 5px 0px;
}

.search-options
{
    border-top: 1px solid black;
}

.search-options:last-of-type
{
    border-bottom: 1px solid black;
}

/*Start:    MVC Default Styles*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#externalLoginConfirmationDiv > div .control-label
{
    padding-top: 7px;
    float: left;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
/*End:  MVC Default Styles*/